body{
	padding:0;
	margin:0;
	background-image:url(back1.jpg);
	background-size:cover;
	background-position:cover;
}
.img{
	margin: 0 auto;
	width:500px;
	height:650px;
	background:rgba(0,0,0,0.5);
	margin-top:90px;
	box-shadow:0px 5px 10px #323232;
}
#icon{
	width:130px;
	height:130px;
	position:absolute;
	top:25px;
	left:45%;
	box-shadow:0px 5px 10px #323232;
	border-radius:55%;
}
input{
	width:73%;
	height:40px;
	margin-left:48px;
	margin-top:30px;
	background-color:#fff;
    border:none;
    border-radius:4px;
    padding-left:35px;
    outline:none;
}
input[type="submit"]{
	background-color:#0060af;
	margin-left:-5px;
	padding-left:5px;
	font-weight:bold;
	font-size:15px;

}
input[type="submit"]:hover{
	box-shadow:0px 5px 10px #323232;
}
.inp{
	margin-top:40px;
	background-color:none;
}
img{
	width:20px;
	height:20px;
	position:absolute;
}
#user{
	top:189px;
	left:527px;
}
#contact{
	top:262px;
	left:527px;
}
#key{
	top:333px;
	left:527px;
}
#address{
	top:405px;
	left:527px;
}